.top-container {
  background-color: #caf7e3;
  position:relative;
  padding-top:100px;
  margin:0;

}
body{
margin:0;
text-align:center;

}
.middle-container {
margin:100px 0;
}
.bottom-container {
  background-color:#7B68EE;
  padding:50px 0 20px;

}



.top-cloud {
  position:absolute;
  right:200px;
}
.bottom-cloud {
  position:absolute;
  left:200px;
}
h1 {
  width:10%;
  margin: 0 auto 0 auto;
  font-family:'Bangers';
  font-size:562.5%;
  color:#66BFBF;
}

p {
  font-size:30px;
  font-family:'Bangers'
}

h2 {
  font-family:serif;
  font-size:2.5rem;
  color:#66BFBF;
  font-weight: normal;

 }




.pro {
  text-decoration: underline;
}
.footer-link {
  color:#11999E; }
  h3 {
    color:#11999E;

  }
  img {
    border-radius:50%;


  }
  .skill-row {
    width:50%;
    margin:100px auto 100px auto;
    text-align:left;
    line-height: 2;}

    .dumnezei-mati {
      border-radius: 0;
      width: 25%;
      float:left;
      margin-right:30px;
    }
    .gif {
      width:25%;
      float:right;
      position:relative;
      bottom:-900px;
    left:400px;
    }
    .aura {
    width:25%;
    float:right;
    margin-left:30px;
    }
    hr {

      background-color: white;
      border-style:none;
      border-top-style: dotted;
      width:5%;
      border-color:grey;
      border-width:10px; }
      .btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #a666a6);
  background-image: -moz-linear-gradient(top, #11CDD4, #a666a6);
  background-image: -ms-linear-gradient(top, #11CDD4, #a666a6);
  background-image: -o-linear-gradient(top, #11CDD4, #a666a6);
  background-image: linear-gradient(to bottom, #11CDD4, #a666a6);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cfcbc;
  background-image: -webkit-linear-gradient(top, #3cfcbc, #561780);
  background-image: -moz-linear-gradient(top, #3cfcbc, #561780);
  background-image: -ms-linear-gradient(top, #3cfcbc, #561780);
  background-image: -o-linear-gradient(top, #3cfcbc, #561780);
  background-image: linear-gradient(to bottom, #3cfcbc, #561780);
  text-decoration: none;
}

a, a:link, a:visited {
  color: #8B0000;
  text-decoration: none;
  margin:10px 20px;
}
a:hover {
  color:#F0FFFF;
}
